from setuptools import setup, find_packages

setup(
    name='{{ .Project.Name }}',
    use_scm_version=True,
    author='{{ .Author.Name }}',
    author_email='{{ .Author.Email }}',
    description='{{ .Project.Description }}',
    packages=find_packages(),
)
